<div class="d-f jc-sb ai-c gg-15">
  {{ if .IsHome }}
  <h1 class="fs-20">{{ .Title }}</h1>
  {{ else }}
  <h2>
    <a class="c-3 d-f ai-c" href="/">
      <img loading="lazy" class="of-c d-b" src="{{ .Site.Params.favicon }}" alt="{{ .Site.Title }}" width="21" height="24">
    </a>
  </h2>
  {{ end }}
  
  {{ if .IsHome }}
  <div class="d-f gg-10 ai-c">
    <b><a href="/about/nht-pages/">About</a></b>
    <b><a href="/about/contact/">Contact</a></b>
    | <b><a href="/tags">Tags</a></b>
  </div>
  {{ else if .IsPage}}
  <h1 class="fs-20 ws-n to-e o-h">{{ .Title }}</h1> <div class="d-f jc-c ai-c" id="google_translate_element"></div>
  {{ else }}
  <h1 class="fs-20 ws-n to-e o-h">{{ .Title }}</h1>
  {{ end }}
</div>