{{ if isset .Params "tags" }}
<p class="d-n"><b>Tags </b>{{ range $key, $value := $.Params.keywords }}<a href="#{{ $value | urlize }}">{{ $value }}</a>{{ if ne $key (sub (len $.Params.keywords) 1) }}, {{ else }}.{{ end }}{{ end }}</p>
<div class="d-g gg-15 body">
  <div class="p-r">
    <img loading="lazy" class="thumb of-c d-b" src="{{ .Params.image }}" alt="{{ .Title }}">
    {{- partial "meta.html" . -}}
  </div>
  <div class="gg-15 ai-c"><h2>{{ .Site.Title }} — {{ .Title }}</h2></div>
  {{ .Page.TableOfContents }}
  {{- .Content -}}
</div>
{{ else }}
{{- .Content -}}
{{ end }}

<!--[ Google Translate Script ]-->
<script>/*<![CDATA[*/ var lazyts=!1;window.addEventListener("scroll",function(){(0!=document.documentElement.scrollTop&&!1===lazyts||0!=document.body.scrollTop&&!1===lazyts)&&(!function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(e,a)}(),lazyts=!0)},!0); /*]]>*/</script>
<script>/*<![CDATA[*/ function googleTranslateElementInit(){new google.translate.TranslateElement({pageLanguage:'en',includedLanguages:'en,bg,bs,ca,co,zh-CN,cs,cy,da,de,el,en,es,et,fa,fi,fr,fy,ga,gd,gl,he,hu,id,iw,is,it,ka,la,lb,lt,lv,mk,nl,no,pl,pt,ro,ru,sk,sl,sq,sr,sv,tr,uk,zh',layout:google.translate.TranslateElement.InlineLayout.SIMPLE},'google_translate_element')}; /*]]>*/</script>