<div class="p-a bc-3 br-3 p-5 d-f ai-c gg-10 br-5 fs-15">
  {{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
  <span>
    {{ math.Round (div (countwords .Content) 220.0) }} Min. Reading time,
  </span>

  <span>
    {{ .WordCount }} Words.
  </span>
</div>
  
<div class="p-a bc-3 br-3 p-5 d-f ai-c tl-5 fs-15">  
  <p>Tags: {{ range $key, $value := $.Params.tags }}<a class="c-r" href="/tags/{{ $value | urlize }}">{{ $value }}</a>{{ if ne $key (sub (len $.Params.tags) 1) }}, {{ else }}.{{ end }}{{ end }}</p>
</div>